{% extends "shop/basic.html" %}
{% block title%}About Us{% endblock %}
{% block body%}

<div class="bg-secondary-subtle">
	<div class="px-4 py-5 text-center">
		<img
			class="d-block mx-auto mb-4"
			src="../static/shop/welcome.png"
			alt=""
			width="150"
			height="auto" />
		<h1 class="display-5 fw-bold text-body-emphasis">
			Welcome to One Step Solution
		</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">
				Welcome to One Step Solution, your ultimate destination for all things
				student-related!
			</p>
		</div>
	</div>

	<div class="px-4 pt-5 my-5 text-center border-bottom">
		<h1 class="display-4 fw-bold text-body-emphasis">Our Mission</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">
				At One Step Solution, we understand the challenges students face when it
				comes to acquiring and disposing of study materials, finding suitable
				accommodations, connecting with potential roommates, and retrieving lost
				belongings. That's why we've created a comprehensive platform designed
				to streamline the student experience.
			</p>
		</div>
		<div class="overflow-hidden" style="max-height: 40vh">
			<div class="container px-5">
				<img
					src="../static/shop/goal.png"
					class="img-fluid border rounded-4 shadow-lg mb-4"
					alt="Our mission logo"
					width="300"
					height="200"
					loading="lazy" />
			</div>
		</div>
	</div>

	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img
					src="../static/shop/service.png"
					class="d-block mx-lg-auto img-fluid"
					alt="services logo"
					width="400"
					height="auto"
					loading="lazy" />
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
					What We Offer
				</h1>
				<p class="lead">
					Our mission is simple: to provide students with a one-stop solution
					for all their academic and campus life needs. Whether you're looking
					to sell your textbooks, musical instruments, or any other study
					materials, or perhaps you're in search of a new roommate or have lost
					something valuable on campus, One Step Solution is here to help.
				</p>
			</div>
		</div>
	</div>

	<div class="container col-xl-10 col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-lg-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
					Our Commitment to Growth
				</h1>
				<p class="col-lg-10 fs-4">
					As we continue to grow, we're committed to expanding our services to
					meet the evolving needs of students. In the near future, we'll be
					adding features such as a roommate finder, lost and found section, and
					much more, all aimed at making your student life easier and more
					convenient.
				</p>
			</div>
			<div class="col-10 col-sm-8 col-lg-6">
				<img
					src="../static/shop/growth.png"
					class="d-block mx-lg-auto img-fluid"
					alt="growth logo"
					width="400"
					height="400"
					loading="lazy" />
			</div>
		</div>
	</div>

	<div class="bg-dark text-secondary px-4 py-5 text-center">
		<div class="py-5">
			<h1 class="display-5 fw-bold text-white">Join Us</h1>
			<div class="col-lg-6 mx-auto">
				<p class="fs-5 mb-4">
					Join us on our journey to simplify student life, one step at a time.
					Welcome to One Step Solution – where students come first.
				</p>
				<div>
					<img
						src="../static/shop/join.png"
						alt="Join logo"
						width="130"
						height="130"
						loading="lazy" />
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
