{% extends "shop/basic.html" %} 
{% block title%}Login {% endblock %} 

{% block body%} 

<!--login-->

<div
	class="form d-flex justify-content-center align-items-center bg-secondary text-secondary-emphasis">
	<main class="w-25 mx-1 my-5 px-1 py-4">
		<form action="/auth/login/" class="border border-2 rounded-4 p-2" method="post">
			{%csrf_token%}
			<img
				class="mb-4 border border-4 rounded-pill"
				src="/static/shop/favicon1.png"
				alt="1StepSoln logo"
				width="72"
				height="57" />
			<h1 class="h3 mb-3 fw-bold text-light">Sign in</h1>

			<div class="form-floating my-1">
				<input
					type="email"
					class="form-control"
					id="email"
					name="email"
					placeholder="name@example.com"
					required />
				<label for="email">Email address</label>
			</div>
			<div class="form-floating mb-2">
				<input
					type="password"
					class="form-control"
					id="pass"
					name="pass1"
					placeholder="Password"
					required />
				<label for="pass">Password</label>
			</div>

			<button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
			<div class="d-flex justify-content-center">
				<p>New User?</p> <a class="link-warning text-decoration-none" href="/auth/register">Register</a>
			</div>

			<p class="mt-5 mb-3 text-body-secondary">© 2023-2024</p>
		</form>
	</main>
</div>

{% endblock %}
